#nav-bar {
  height: 40px;
  flex-direction: row-reverse;
}

hbox#nav-bar-customization-target {
  margin-top: 3px !important;
}

#urlbar {
  --urlbar-height: 32px !important;
  --urlbar-toolbar-height: 32px !important;
}

#back-button,
#forward-button,
#nav-bar-overflow-button,
#stop-reload-button {
  display: none;
}

#navigator-toolbox {
  width: 100vw !important;
  position: absolute !important;
  z-index: 9001 !important;
  transform: translateY(-39px) !important;
}

#urlbar-container {
  pointer-events: none;
  position: absolute;
  top: -1000px;
}

toolbar#TabsToolbar {
  display: none;
}

#sidebar-main {
  padding-top: 40px;
}

:root:hover:not(:has(#tabbrowser-tabbox:hover)),
:root:not(:has(#toolbar-menubar[inactive])),
:root:has(#navigator-toolbox:focus-within),
:root:has(#mainPopupSet [panelopen="true"]) {
  #navigator-toolbox {
    transform: translateY(0px) !important;
  }

  #urlbar-container {
    pointer-events: all;
    position: inherit;
  }
}

/* Sidebar adjustments */
#vertical-tabs-newtab-button,
[extensionId] {
  display: none !important;
}

#pinned-tabs-container {
  width: 3rem;

  &::part(scrollbox) {
    [part="items-wrapper"] {
      flex-direction: row !important;
      width: 250px;
      flex-wrap: wrap;
    }
  }
}

#tabbrowser-tabs[expanded] {
  #pinned-tabs-container {
    width: auto;
  }
}

tab[pinned] {
  width: 3rem !important;

  .tab-close-button.close-icon {
    display: none;
  }
}
